body {
  margin: 0;
  box-sizing: border-box;
  cursor: url(../images/cursor.svg), auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #4B5D68;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #212353;
}

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 50px;
  transition: .5s;
}

section {
  margin-top: 120px;
}

.arrow {
    margin-left: 20px;
    transition: .5s;
    width: 20px;
    height: 14px;
    color: #9C69E2;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding-inline: 15px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;

  .nav {
    margin-right: auto;

    .nav-list {
      display: flex;
      gap: 40px;

      li {
        transition: .3s;

        &:hover {
          color: #8A40EE;
        }
      }
    }
  }
}

.request-btn {
  padding: 19px 23px;
  display: flex;
  align-items: center;
  border-color: #9C69E2;
  background-color: unset;

  span {
    color: #212353;
    transition: .5s;
  }

  &:hover {
    background-color: #9C69E2;
    border-radius: 25px;
    transform: scaleY(0.5);

    span {
      color: #FFFFFF;
      transform: scaleY(2);
    }

    svg {
      transform: scaleY(2);
      color: #FFFFFF;
    }
  }
}

.hero {
  position: relative;
  display: flex;
  gap: 30px;
  margin-top: 100px;

  .hero-title {
    position: absolute;
    font-weight: 700;
    font-size: 80px;
    width: 50%;
    line-height: 110%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 33%;
    gap: 50px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 160%;

    .hero-btn {
      align-self: baseline;
      background-color: #9C69E2;
      padding: 18px 52px;
      color: #FFFFFF;

      &:hover {
        background-color: #8A40EE;
      }
    }
  }

  .hero-image {
    width: 66%;
    margin-top: 82px;
  }
}

.level {
  margin-top: 120px;
  background-color: #FDE8F5;
  border-radius: 50px;
  padding: 75px 70px;
  display: flex;
  gap: 130px;

  .level-content {
    align-self: center;

    .level-title {
      margin-bottom: 40px;
    }

    .level-text {
      font-size: 18px;
      line-height: 160%;
    }
  }
}

.features {

  .features-title,
  .features-text {
    text-align: center;
  }

  .features-text {
    margin-top: 50px;
    font-size: 18px;
  }

  .features-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 60px;

    .features-card {
      margin-top: 20px;
      width: 48%;
      display: flex;
      gap: 40px;
    }
  }
}